<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width">
  <title>LIFE COUNTS </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
</head>
  <body>
  <div class="p-3 mb-2 bg-light text-dark">
    <header>
      <div class="container-fluid" align="center">
        <div id="brand">
          <h1> LIFE COUNTS </h1>
            <h2> CERVICAL CANCER PREDICTION</h2>
        </div>
      </div>
    </header>
    <div class="text-center">
    <img class="img-responsive" src="{{ url_for('static',filename='image/1.JPG')}}">
        <br>
        <br>
     <p align="text-center">YOU CAN ENTER YOUR DETAILS IN THE PREDICT FORM TO GET YOUR RESULT </p>
        <br>
        <div class="text-center">
            <button class="btn btn-outline-primary" id="log"><a href="forms.html" align="center">Predict</a></button>
            <button class="btn btn-outline-primary" id="log"><a href="about.html" align="center">About</a></button>
          </div>
        </div>
      <br><hr>
        <i><div class="footer-copyright text-center py-3">LIFE COUNTS, Copyright 2019

            </div></i>
      </div>
  </body>
</html>
